<tr>
    <td><%= minus_operation.title %></td>
    <td><%= minus_operation.description %></td>
    <td><%= minus_operation.sum %></td>
    <td><%= link_to 'Show', minus_operation %></td>
    <td><%= link_to 'Edit', edit_minus_operation_path(minus_operation) %></td>
    <td><%= link_to 'Destroy', minus_operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>