<%= form_for(plus_operation) do |f| %>
  <% if plus_operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plus_operation.errors.count, "error") %> prohibited this plus_operation from being saved:</h2>

      <ul>
      <% plus_operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :название %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :описание %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :сумма %>
    <%= f.text_field :sum, :required => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
