<tr>
    <td><%= plus_operation.title %></td>
    <td><%= plus_operation.description %></td>
    <td><%= plus_operation.sum %></td>
    <td><%= link_to 'Edit', edit_plus_operation_path(plus_operation) %></td>
    <td><%= link_to 'Destroy', plus_operation, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>